img {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', 'Arial', 'Helvetica Neue', sans-serif;
}

body header,
body section {
    min-width: 938px;
    max-width: 100%;
}

body section {
    padding: 60px 246px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    transition: .3s all ease-in-out;
}

h2, h3 {
    text-transform: uppercase;
}

.first-section {
    padding: 41px 71px;
    position: relative;
    text-align: center;
    background-image: url("../image/hero1.png");
    background-size: cover;
}

.logo {
    margin: 0 auto 376px;
    width: 102px;
    height: 23px;
}

.title {
    font-size: 60px;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    letter-spacing: 6px;
    margin-bottom: 21px;
}

.head_dest {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', 'Arial', 'Helvetica Neue', sans-serif;
    color: #fff;
    margin-bottom: 221px;
}

.scroll {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
}

header {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
}

header::before,
header::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
}

header::before {
    top: 0;
}

header::after {
    bottom: 0;
}

.logo--black {
    margin: 0;
}

nav a {
    font-weight: 600;
    color: #48555B;
    letter-spacing: 1px;
    margin: 0 25px;
}

nav a:hover {
    color: #00A4E5;
}

.story__title {
    position: relative;
    text-align: center;
    
}
